header {
    display: flex;
    position: relative;
    left: 60px;
    color: purple;
    font-size: 74px;    
}

nav li {
    display: inline-block;
    flex-direction: row;
    list-style-type: none;
    justify-content: space-evenly;
    padding: 30px;
}

a {
    text-decoration: none;
}

.input-group-lg {
    display: flex;
    position: relative;
    bottom: 170px;
    left: 300px;
    width: 50%;
    justify-content: center;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    row-gap: 10px;
    align-self: flex-end;
}

.globe img {
    width: 800px;
    height: 500px;
    margin-left: 0.9em;
}

.col img {
    width: 430px;
    height: 200px;
    margin-top: 1em;
}

button {
    position: relative;
    left: 1020px;
    bottom: 1060px;
    color: purple;
    background-color: ghostwhite;
    border-radius: 25px;
    border-color: purple;
}

button:hover {
    color: green;
    background-color: pink;
}

.container {
    display: flex;
    flex-direction: column;
    position: relative;
    left: 400px;
    bottom: 780px;
    width: 500px;
}

h2 {
    display: flex;
    position: relative;
    color: purple;
    width: 400px;
    left: 850px;
    bottom: 1160px;
}

#continue {
    position: relative;
    bottom: 880px;
    left: 845px;
    border: none;
}